@import '../../styles/_base.scss';

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.header-nav {
  a {
    color: inherit;
  }
  .navbar-header {
    .navbar-brand {
      height: auto;
      img {
        width: 180px;
      }
    }
  }
}
.navbar {
  padding-top: 1em;
  background: none;
  border: none;
}
